body {
  font-family: 'CirceLight', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: $linkColor;

  &:visited {
    color: $linkColor;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
