.content {
  display: none;
  width: calc(100% - 600px);
  max-height: 100%;
  box-sizing: border-box;
  animation: showContent 4s ease-in-out;

  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__filling {
    display: inherit;
    justify-content: center;
    background-color: $contentBackground;
    width: 100%;
    height: 100%;
  }

  &__video-egg {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }

  &__background {
    @media screen and (min-width: $tabletWidth) {
      background: $activeOptionBtn;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.2;
    }
  }

  @media screen and (min-width: $tabletWidth) {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
}
