@import "templates";

.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 350px;
  max-width: 600px;
  min-height: 100vh;
  background-color: $formBackground;
  padding: 30px 50px;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;
  overflow-y: auto;

  @media screen and (max-width: $tabletWidth) {
    position: static;
    margin: 0 auto;
  }

  @media screen and (max-width: $mobileWidth) {
    padding: 30px 20px;
  }

  &__header {
    display: inherit;
    justify-content: space-between;

    .icon {
      top: 20px;
      right: 50px;
      outline: none;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: $btnRadius;
      opacity: 1;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__title-heading {
    font-family: 'PlayfairDisplay', serif;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.4rem;
  }

  &__form {
    .payment-logos {
      display: flex;
      justify-content: space-around;
      max-width: 450px;
      width: 100%;
      margin: 30px auto 20px;

      .logo {
        height: 25px;
        margin: 0 10px 10px 10px;
      }

      @media screen and (max-width: $mobileWidth) {
        flex-wrap: wrap;
      }
    }
  }

  &__form-credential {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .donation__form-field {
      width: 100%;
      margin: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__form-label {
    font-weight: bold;
  }

  &__form-field {
    margin: 20px 0;

    &.otherAmount {
      margin-top: 30px;
    }

    &.recurrent,
    &.amount {
      display: flex;
      justify-content: center;
      width: 100%;

      @media screen and (max-width: $mobileWidth) {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }
    }

    &.amount {
      & .donation__form-button:last-child {
        flex-basis: 250%;
      }
    }

    & .logo {
      width: 16px;
      height: 16px;
      margin-top: 5px;
      margin-left: 10px;
      cursor: pointer;
      opacity: 1;

      &:hover {
        opacity: 0.6;
      }
    }

    & > label {
      width: 100%;
    }

    .valid {
      border: 2px solid $validInputBorder;
    }

    .invalid {
      border: 2px solid $invalidInputBorder;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__form-agreement {
    margin-left: 5px;
  }

  &__form-button {
    @extend %button;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: $mobileWidth) {
      margin-top: 15px;
      margin-right: 0;
    }

    &.checked {
      background: $activeOptionBtn;
      color: $formBackground;

      &:hover {
        background: $hoverActiveOptionBtn;
      }
    }
  }

  &__form-note {
    display: block;
    margin-top: 10px;
  }

  &__form-text {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: $btnRadius;
    border: 1px solid $inputBorder;
    box-sizing: border-box;
  }

  &__form-submit {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color: $invalidPaymentBtn;
    color: $formBackground;
    transition: .4s ease;
    cursor: not-allowed;

    &.active {
      background-color: $validPaymentBtn;
      cursor: pointer;
      transition: .4s ease;

      &:hover {
        background-color: $hoverValidPaymentBtn;
        transition: .4s ease;
      }
    }
  }

  &__form-input_hidden {
    display: none;
  }

  &__form-toggle,
  &__form-agreement,
  &__form-button,
  .recurrent {
    cursor: pointer;
  }
}

