@font-face {
  font-family: "GothamPro-Light";
  src: url("../assets/fonts/GothamPro-Light.woff") format('woff');
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf") format('truetype');
}