@font-face {
  font-family: "GothamPro-Light";
  src: url("../assets/fonts/GothamPro-Light.woff") format('woff');
  font-display: fallback;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "CirceLight";
  src: url("../assets/fonts/Circe-Light.ttf") format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: "CirceBold";
  src: url("../assets/fonts/Circe-Bold.ttf") format('truetype');
  font-display: fallback;
}