@import "templates";

.report {
  @extend %page;

  &__button-back {
    @extend %button;
  }

  &__heading {
    margin: 50px 0;
    text-align: center;
  }

  &__description {
    margin-top: 80px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: $btnRadius;
    transition: .2s ease-in;

    &:hover {
      box-shadow: 0px 10px 25px 0px #b6b6b6;
      transition: .2s ease-in;
    }
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item-logo {
    height: 80px;
  }

  &__item-title {
    margin-top: 20px;
    color: $text;
  }
}
