%page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 25px 50px 10px gray;

  @media screen and (max-width: $tabletWidth) {
    h1 {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: $mobileWidth) {
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    box-shadow: none;
  }
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 20px;
  background: $optionBtn;
  border-radius: $btnRadius;
  border: none;
  outline: none;

  &:hover {
    background: $hoverOptionBtn;
    cursor: pointer;
  }
}